.env
node_modules/
dist/
build/

# python related
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/

# spring boot
target/
*.jar
*.war
*.class
# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
