spring:
  application:
    name: PushNotificationService

rabbitmq:
  host: localhost
  port: 5672
  username: guest
  password: guest
  queue:
    push: push.queue
    failed: failed.queue
    exchange: push.exchange
    routing-key: push.routing.key
    failed-routing-key: failed.routing.key

onesignal:
  api-key: ${ONESIGNAL_API_KEY:}
  app-id: ${ONESIGNAL_APP_ID:}
  url: https://onesignal.com/api/v1

template:
  service-url: http://template-service

notification:
  service-url: http://notification-service

redis:
  host: localhost
  port: 6379
  processed-key-prefix: push:processed:

resilience4j:
  circuitbreaker:
    instances:
      oneSignalCircuit:
        slidingWindowSize: 10
        minimumNumberOfCalls: 2
        failureRateThreshold: 50
        waitDurationInOpenState: 30s
